@import url('https://fonts.googleapis.com/css2?family=Abel&family=Lobster&family=Oswald:wght@500&family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #EED7CE;
    font-family: 'Abel', sans-serif;
    /* 
    #FF87CA
    #FFC4E1
    #EAEAEA
    #EED7CE
    */
}


/* Margin class */

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

.mt-5 {
    margin-top: 50px;
}



/* headerMenu */

.header {
    width: 100%;
    position: relative;
}

.headerMenu {
    position: absolute;
    /*     background: #eaeaea40; */
    width: 100%;
    transition: 0.5s ease-in-out;
    padding: 25px 0px;
    background: linear-gradient(181deg, rgb(238 215 206 / 44%), rgb(238 215 206 / 0%));
    height: 170px;
}

.headerMenu .headerLogo {
    overflow: hidden;
    text-align: center;
    padding: 15px;
}

.headerMenu .headerLogo a {}

.headerMenu .headerLogo a img {
    width: 83px;
}

.headerMenu .headerNav {}

.headerMenu .headerNav ul {
    width: 100%;
    display: inline-flex;
}

.headerMenu .headerNav ul li {
    list-style: none;
    /* display: inline-flex; */
    margin: 30px 15px;
}

.headerMenu .headerNav ul li a {
    text-decoration: none;
    color: #fffefe;
    font-size: 18px;
    transition: 0.3s ease-in;
}

.headerMenu .headerNav ul li:hover a {
    color: #d7d7d7;
}

.header .backgroundImg {
    width: 100%;
    height: 700px;
}


/* Stiky Header */

.stikyHeaderMenu {
    background: #eed7ce;
    position: fixed;
    top: 0;
    height: 70px;
}

.stikylogoImage {
    width: 75px !important;
    padding: 5px !important;
}

.stikyList {
    margin: 22px 15px;
}

.stikyA {
    color: #d7d7d7;
}


/* headerMenu End */


/* about */

.about {
    margin-top: 60px;
}

.about .abouttext {}

.about .abouttext p {
    font-size: 16px;
    color: #4c4c4c;
}

.about .bottomimage {
    margin-bottom: 175px;
}

.about .bottomimage img {
    width: 150px;
}


/* about End */



/* Private Event Page */

.private_content {
    padding-bottom: 100px;
}

.private_content .Event_head {
    padding: 100px 0px;
}

.private_content .Event_head h2 {}

.private_content .Event_head h3 {}

.private_content .Event_head p {
    width: 60%;
    margin: auto;
    padding: 26px 0px;
}

.private_content .Event_head button {
    padding: 15px 40px;
    outline: none;
    background: none;
    border: 3px solid #838383;
}

.private_content .Event_head button a {
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.private_content .evennt_content {}

.private_content .evennt_content_img {
    width: 90%;
    margin: auto;
}

.private_content .evennt_content_img img {
    width: 100%;
}

.private_content .Event_text {
    padding: 20px 60px;
}

.private_content .Event_text h3 {
    color: #5c5c5c;
}

.private_content .Event_text p {
    text-align: left;
    color: #2e2e2e;
}

.private_content .Event_text button {
    padding: 15px 40px;
    outline: none;
    background: none;
    margin-top: 100px;
    border: 3px solid #838383;
}

.private_content .Event_text button a {
    color: black;
    font-size: 25px;
    text-decoration: none;
}

.inquire_button {
    transition: 0.2s ease-in-out;
}

.inquire_button:hover {
    background-color: #838383 !important;
}


/* Private Event Page End */



/* Farm Page  */

.farm {
    width: 100%;
    margin: auto;
}

.farm .farm_container {
    width: 50%;
    margin: auto;
    color: #565656;
}

.farm .farm_title {}

.farm .farm_title h5 {
    padding: 70px 0px;
    font-size: 20px;
}

.farm .farm_content {}

.farm .farm_content h2 {
    padding: 30px 0px;
    position: relative;
    margin-bottom: 50px;
}

.farm .farm_content h2:before {
    content: '';
    position: absolute;
    bottom: 20px;
    height: 2px;
    width: 50px;
    background: black;
}

.farm .farm_content p {
    font-size: 15px;
    margin-bottom: 20px;
}

.farm .farm_bottom_text {
    margin-top: 75px;
}

.farm .farm_bottom_text h2 {
    position: relative;
    margin-bottom: 50px;
}

.farm .farm_bottom_text h2:before {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    width: 50px;
    background: black;
}

.farm .farm_bottom_text p {}

.farm .farm_bottom_text p a {
    text-decoration: underline;
    color: #565656;
}

.farm_bottom_img {
    width: 100%;
    overflow: hidden;
    margin-bottom: 70px;
    margin-top: 60px;
}

.farm_bottom_img img {
    width: 100%;
    height: 600px;
}


/* Farm Page End */



/* Faq Page */

.faq {
    width: 100%;
    /* background: rebeccapurple; */
    margin-top: 50px;
    margin-bottom: 70px;
}

.faq .faq_container {
    width: 50%;
    margin: auto;
    /* background: red; */
    color: #565656;
}

.faq .faq_container .faq_title {}

.faq .faq_container .faq_title h2 {
    font-weight: bold;
    color: black;
    position: relative;
}

.faq .faq_container .faq_title h2:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 50px;
    background: black;
    bottom: -15px;
}

.faq .faq_container .faqs {}

.faq .faq_container .faqs .single_faq {
    margin-top: 50px;
}

.faq .faq_container .faqs .single_faq h2 {
    width: 80%;
}

.faq .faq_container .faqs .single_faq h2 p {}


/* Faq Page END */




/* bottomBar */

.bottomBar {
    background: #ffd0be;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottomBar .socialIcon {
    display: inline-flex;
}

.bottomBar .socialIcon .singleIcon {
    margin-left: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 28px;
}

.bottomBar .socialIcon .singleIcon i {
    background: black;
    height: 30px;
    width: 30px;
    padding: 7px;
    border-radius: 32px;
    font-size: 19px;
}

.bottomBar .bottomNav {}

.bottomBar .bottomNav ul {
    width: 100%;
    display: inline-flex;
    margin-top: 12px;
} 

.bottomBar .bottomNav ul li {
    list-style: none;
    margin: auto;
}

.bottomBar .bottomNav ul li a {
    text-decoration: none;
    color: black;
}


/* bottomBar End */
